@import-normalize; 
@import './button.css';
@import'./recipe.css';
@import './ingredient-list.css';
@import './Recipe-list.css';
@import './Recipe-edit.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-size:25px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  html{
  font-size: 11px;
}
}
