@import-normalize; 
@import './button.css';
@import'./recipe.css';
@import './ingredient-list.css';
@import './Recipe-list.css';
@import './Recipe-edit.css';

*{
  font-size:25px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  html{
  font-size: 11px;
}
}
