.btn{
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
    font-size: inherit;
    border-radius: 0.2rem;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
}

.mr-1{
    margin-right: 0.4rem;
}

.mb-1{
    margin-bottom: 0.4rem;
}

.btn--primary{
    color: white;
    background-color: hsl(200, 100%, 50%);
    transition: 0.3s;
}

.btn--primary:hover{
    background-color: hsl(200, 100%, 35%);
}

.btn--delete{
    background-color: hsl(0, 100%, 50%);
    transition: 0.3s;
}

.btn--delete:hover{
    background-color: hsl(0, 100%, 35%);
    transition: 0.3s;
}